<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EMR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EMR.Properties.Settings>
            <setting name="EMR_gjtEmrOrder_EmrOrder" serializeAs="String">
                <value>http://localhost:7349/emrService2013-06-14/EmrOrder.asmx</value>
            </setting>
            <setting name="EMR_gjtEmrService_emrServiceXml" serializeAs="String">
                <value>http://localhost:7349/emrService2013-06-14/emrServiceXml.asmx</value>
            </setting>
            <setting name="EMR_gjtEmrPatients_emrPatients" serializeAs="String">
                <value>http://localhost:7349/emrService2013-06-14/emrPatients.asmx</value>
            </setting>
        </EMR.Properties.Settings>
    </applicationSettings>
</configuration>
