<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--add key="HisDBType" value="ORACLE"/-->
    <!--add key="HisDB" value="Data Source=tjsdb;User ID=hospital;Unicode=True;password = hospital;Integrated security = no;"/-->
    <add key="HisDBType" value="MSSQL"/>
    <add key="HisDB" value="user id = sa;password = 13902195880; initial catalog = hospital;server =192.168.211.10;Connect Timeout = 30;Connect Timeout = 30;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300"/>
    <add key="hisDBBA" value="user id = sa;password = 13902195880; initial catalog = archive;server =192.168.211.10;Connect Timeout = 30;Connect Timeout = 30;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300"/>

    <add key="SjsysDB" value="user id = sa;password = 13902195880; initial catalog = sjsys;server =192.168.211.11;Connect Timeout = 30;Connect Timeout = 30;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300"/>

    <add key="ClinicDB" value="user id = sa;password = 13902195880; initial catalog = clinic;server = 192.168.211.10;Connect Timeout = 30;Connect Timeout = 30;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300"/>
    <add key="ClinicPath" value="user id = sa;password = 13902195880; initial catalog = clinicpath;server = 192.168.211.10;Connect Timeout = 30;Connect Timeout = 30;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300"/>

    <add key="DBCF" value="Yes"/>
    <add key="EmrDB" value="user id = sa;password = 13902195880; initial catalog = emr;server = 192.168.211.10;Connect Timeout = 30;Max Pool Size=300;Min Pool Size=0;Connection Lifetime=300"/>
    <add key="ErrorLogFilePath" value="D:\\Error1\\"/>
    <add key="ErrorLogFileName" value="ErrorLog1.xml"/>
    <add key="LogSaveType" value="1"/>
    <add key="RecordFlag" value="0"/>
    <add key="BloodDialysis" value="00410181"/>
    <add key="RemindToReview" value='(@Checker="" and @NoteStatus="1" ) and ((@NoteID="03" and (@ChildID="5" or @ChildID="2")) or (@NoteID="32" and @ChildID="14")  )'/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <sessionState/>
    <roleManager/>
    <membership/>
    <identity/>
    <authentication/>

    <compilation debug="true">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.SqlXml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime   maxRequestLength="102400"   executionTimeout="30000" />
    <!--<httpRuntime maxRequestLength="10000"/>-->
  </system.web>
</configuration>

